function fib.fibonacci 0
	push constant 2
	push argument 0
	gt
	if-goto retargument
	
	//else
	
	push argument 0
	push constant 1
	sub
	call fib.fibonacci 1
	push argument 0
	push constant 2
	sub
	call fib.fibonacci 1
	add
	return
	
	
	label retargument
		push argument 0
		return
	
